<div id="content_wrapper"
     class="boxedlayout1-wrapper">
  <div class="content">
    <div class="header-wrapper header-sm shadow-none">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <header>
              <h1>Payslip Details</h1>
            </header>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-block">
              <form class="form-horizontal"
                    novalidate>
                <div class="form-group row">
                  <div class="col-6">
                    <label for="frequence"
                           class="col-3 col-form-label">Frequency:</label>
                    <div class="col-9">

                    </div>
                  </div>
                </div>

                <div class="form-group row">

                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Period Start:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 [matDatepicker]="periodStartPicker"
                                 placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix
                                                 [for]="periodStartPicker"></mat-datepicker-toggle>
                          <mat-datepicker #periodStartPicker></mat-datepicker>
                        </mat-form-field>
                        <p class="error"
                           *ngIf="requried?.errors?.required">required error</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Period End:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 [matDatepicker]="periodEndPicker"
                                 placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix
                                                 [for]="periodEndPicker"></mat-datepicker-toggle>
                          <mat-datepicker #periodEndPicker></mat-datepicker>
                        </mat-form-field>
                        <p class="error"
                           *ngIf="requried?.errors?.required">required error</p>
                      </div>
                    </div>
                  </div>


                </div>

                <div class="form-group row">
                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Total Earnings:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 class="form-control"
                                 placeholder="Required"
                                 type="text"
                                 ngModel
                                 name="requried"
                                 #requried="ngModel"
                                 required/>
                        </mat-form-field>
                        <p class="error"
                           *ngIf="requried?.errors?.required">required error</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Net Pay:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 class="form-control"
                                 placeholder="Required"
                                 type="text"
                                 ngModel
                                 name="requried"
                                 #requried="ngModel"
                                 required/>
                        </mat-form-field>
                        <p class="error"
                           *ngIf="requried?.errors?.required">required error</p>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Tax:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 class="form-control"
                                 placeholder="Required"
                                 type="text"
                                 ngModel
                                 name="requried"
                                 #requried="ngModel"
                                 required/>
                        </mat-form-field>
                        <p class="error"
                           *ngIf="requried?.errors?.required">required error</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="row">
                      <label class="col-4 col-form-label text-right"
                             for="name">Tax %age:</label>
                      <div class="col-8">
                        <mat-form-field>
                          <input matInput
                                 class="form-control"
                                 type="text"
                                 disabled/>
                        </mat-form-field>

                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Super Annuation:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 class="form-control"
                                 placeholder="Required"
                                 type="text"
                                 ngModel
                                 name="requried"
                                 #requried="ngModel"
                                 required/>
                        </mat-form-field>
                        <p class="error"
                           *ngIf="requried?.errors?.required">required error</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="row">
                      <label class="col-4 col-form-label text-right"
                             for="name">Super Annuation %age:</label>
                      <div class="col-8">
                        <mat-form-field>
                          <input matInput
                                 class="form-control"
                                 type="text"
                                 disabled/>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                </div>



                <div class="col text-right">
                  <button type="submit"
                          class="btn btn-accent"
                          mat-ripple>Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer id="footer_wrapper"
          class="footer_wrapper"></footer>
</div>