$shade90: #101920;
$shade80: #2e3c46;
$shade70: #61676f;
$shade60: #757e84;
$shade55: #3f4c56;
$shade50: #a3a9ad;
$shade40: #cfd3d6;
$shade30: #e2e7e7;
$shade20: #f1f2f2;
$shade15: #f9f9fb;
$shade10: #f8f8f8;
$shade00: #ffffff;

$brand-one: #cc1213;
$brand-two: #f4590d;
$brand-three: #fb9e00;
$brand-four: #2b9e85;
$brand-five: #5ed07d;

$highlight-one: #25313a;
$highlight-two: #d93f0c;
$highlight-three: #3474da;
$highlight-four: #4d87e5;
$highlight-five: #00bdfe;
$highlight-six: #fe0072;
$hightlight-seven: #18232a;
$highlight-eight: #127e92;
$highlight-nine: #763e8d;

$success-color: $brand-four;

$error-color: #cf0101;
$error-color-bg: #fae5e5;
$error-bg: #0f1922;

$link-color: #3574da;

$status-draft: #916f28;
$status-initiated: $brand-four;
$status-in-progress: #a033a9;
$status-submitted: #0d3ef4;
$status-locked: #15c7e9;
$status-cancelled: #bebfc1;
$status-completed: #000000;
$status-finalised: $status-locked;
