<div id="content_wrapper"
     class="boxedlayout1-wrapper">
  <div class="content">
    <div class="header-wrapper header-sm shadow-none">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <header>
              <h1>Payslip Details</h1>
            </header>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body container">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-block">
              <form class="form-horizontal"
                    novalidate
                    autocomplete="off"
                    (ngSubmit)="save()"
                    [formGroup]="paySlipForm">
                <div class="form-group row">
                  <div class="col-6">
                    <mat-radio-group formControlName="frequency">
                      <label for="frequency"
                             class="col-3 col-form-label">Frequency:</label>
                      <mat-radio-button class="example-margin"
                                        [value]=1>
                        Monthly
                      </mat-radio-button>
                      <mat-radio-button class="example-margin"
                                        [value]=2>
                        Fortnightly
                      </mat-radio-button>
                    </mat-radio-group>
                  </div>
                </div>

                <div class="form-group row">

                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Period Start:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 formControlName="periodStart"
                                 [matDatepicker]="periodStartPicker"
                                 placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix
                                                 [for]="periodStartPicker"></mat-datepicker-toggle>
                          <mat-datepicker #periodStartPicker></mat-datepicker>
                        </mat-form-field>

                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Period End:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 formControlName="periodEnd"
                                 [matDatepicker]="periodEndPicker"
                                 placeholder="Choose a date">
                          <mat-datepicker-toggle matSuffix
                                                 [for]="periodEndPicker"></mat-datepicker-toggle>
                          <mat-datepicker #periodEndPicker></mat-datepicker>
                        </mat-form-field>

                      </div>
                    </div>
                  </div>


                </div>

                <div class="form-group row">
                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Total Earnings:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 etsAutoNumeric
                                 class="form-control"
                                 type="text"
                                 formControlName="totalEarnings" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Net Pay:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 etsAutoNumeric
                                 class="form-control"
                                 type="text"
                                 formControlName="netPay" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Tax:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 etsAutoNumeric
                                 class="form-control"
                                 type="text"
                                 formControlName="tax" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="row">
                      <label class="col-4 col-form-label text-right"
                             for="name">Tax %age:</label>
                      <div class="col-8">
                        <mat-form-field>
                          <input matInput
                                 [value]="paySlipForm.get('taxPct').value | percent: '1.2-2'"
                                 class="form-control"
                                 type="text"
                                 formControlName="taxPct" />
                        </mat-form-field>

                      </div>
                    </div>
                  </div>

                </div>

                <div class="form-group row">
                  <div class="col-6">
                    <div class="row">
                      <label class="col-3 col-form-label text-right"
                             for="name">Super Annuation:</label>
                      <div class="col-9">
                        <mat-form-field>
                          <input matInput
                                 etsAutoNumeric
                                 class="form-control"
                                 formControlName="superAnnuation"
                                 type="text" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                  <div class="col-6">
                    <div class="row">
                      <label class="col-4 col-form-label text-right"
                             for="name">Super Annuation %age:</label>
                      <div class="col-8">
                        <mat-form-field>
                          <input matInput
                                 [value]="paySlipForm.get('superAnnuationPct').value | percent: '1.2-2'"
                                 class="form-control"
                                 type="text"
                                 formControlName="superAnnuationPct" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                </div>



                <div class="col text-right">
                  <button type="submit"
                          class="btn btn-accent"
                          [disabled]="!paySlipForm.valid"
                          mat-ripple>{{this.getSubmitLabelText()}}</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <footer id="footer_wrapper"
          class="footer_wrapper"></footer>
</div>
<!-- 
<br>Dirty: {{ paySlipForm.dirty }}
<br>Touched: {{ paySlipForm.touched }}
<br>Valid: {{ paySlipForm.valid }}
 -->
 <br>Value: {{ paySlipForm.value | json }}