<div id="content_wrapper"
     class="fullWidth2-wrapper rightSidenav2-wrapper">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav-content>
      <div class="content">
        <div class="header-wrapper header-sm">
          <header>
            <h1>Salary Slips</h1>

            <ul class="actions icons top-right">
              <li>
                <a href="javascript:void(0)"
                   (click)="rightSidenav2.toggle()">
                  <i class="zmdi zmdi-search"></i>
                </a>
              </li>
            </ul>
          </header>
        </div>
        <div class="content-body">
          <div class="card card-datatable">
            <header class="card-header p-30">
                <h2 class="card-title">Pay Slips</h2>
              <ul class="actions icons top-right">
                <li class="dropdown"
                    dropdown>
                  <a href="javascript:void(0)"
                     dropdownToggle>
                    <i class="zmdi zmdi-more-vert"></i>
                  </a>
                  <ul class="dropdown-menu btn-primary dropdown-menu-right">
                    <li>
                      <!-- <button class="btn btn-info btn-block"
                                (click)="updateTransactionModal.show()">Edit Category</button> -->
                      <button class="btn btn-info btn-block"
                              [routerLink]="['/income/payslips/add']">Add Salary Slip</button>
                    </li>
                  </ul>
                </li>
              </ul>
            </header>
            <div class="card-block p-0">
              <ngx-datatable #table
                             style="width: 100%"
                             class="material"
                             [rows]="rows"
                             [columnMode]="'force'"
                             [headerHeight]="50"
                             [footerHeight]="50"
                             [rowHeight]="'auto'"
                             [limit]="page.size"
                             [selectionType]="'checkbox'"
                             [externalPaging]="true"
                             [count]="page.totalElements"
                             [offset]="page.pageNumber"
                             [limit]="page.size"
                             (page)='setPage($event)'
                             (select)='onSelect($event)'>
                <ngx-datatable-column name="Frequency"></ngx-datatable-column>
                <ngx-datatable-column name="TotalEarnings">
                  <ng-template let-value="value"
                               ngx-datatable-cell-template>
                    {{value | currency:'USD':'symbol':'1.2-4'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="SuperAnnuation">
                  <ng-template let-value="value"
                               ngx-datatable-cell-template>
                    {{value | currency:'USD':'symbol':'1.2-4'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="NetPay">
                  <ng-template let-value="value"
                               ngx-datatable-cell-template>
                    {{value | currency:'USD':'symbol':'1.2-4'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Start Date" prop="periodStart">
                  <ng-template let-value="value"
                               ngx-datatable-cell-template>
                    {{value | date: 'dd-MMM-yyyy'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="End Date" prop="periodEnd">
                  <ng-template let-value="value"
                               ngx-datatable-cell-template>
                    {{value | date: 'dd-MMM-yyyy'}}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Edit">
                  <ng-template let-row="row"
                               ngx-datatable-cell-template>
                    <a href="javascript:void(0)"
                       attr.data-paySlipId="{{row.id}}"
                       class="icon edit-paySlip">
                      <i class="zmdi zmdi-edit"></i>
                    </a>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>

    <footer id="footer_wrapper"
            class="footer_wrapper"></footer>
  </mat-sidenav-container>
</div>