.uppy-size--md .uppy-StatusBar.is-waiting .uppy-StatusBar-actionBtn--upload {
    width: 100% !important;
    padding: 15px 10px !important;
}

.uppy-StatusBar-actions {
    line-height: 16px !important;
}