@*<main class="container">
    <app-component>
        Loading...
    </app-component>
    <br /><br />
</main>*@

<div id="loader-wrapper" display="none">
	<div id="loader"></div>
</div>
<app-root>
	Loading...
</app-root>