<div id="content_wrapper" class="fullWidth3-wrapper">
	<div class="content">
		<div class="header-wrapper overlay header-md">
			<header class="container-fluid">
				<div class="row">
					<div class="col">
						<h1>Monthly Expense Sheets</h1>
					</div>
				</div>
			</header>
		</div>
		<div class="content-body">
			<div class="card card-datatable">
				<header class="card-header p-30">
					<div class="selected-toolbar" [ngClass]="{ active: isToolbarActive }">
						<mat-toolbar class="activeHeaderColor">
							<span>{{ itemCount }} {{ itemsSelected }}</span>
							<span class="demo-fill-remaining"></span>
							<button mat-icon-button>
								<mat-icon class="mat-24">delete</mat-icon>
							</button>
						</mat-toolbar>
					</div>
					<h2 class="card-title">Manage Exepnse Sheets</h2>
					<ul class="actions icons top-right">
						<li>
							<a href="javascript:void(0)" (click)="isSearchActive = !isSearchActive">
								<i class="zmdi zmdi-search"></i>
							</a>
						</li>
					</ul>
					<ul class="actions fab bottom-right">
						<li>
							<button class="btn btn-accent btn-fab" (click)="uploadSheetModal.showUppyUploadModal()" mat-ripple>
								<i class="zmdi zmdi-plus"></i>
							</button>
						</li>
					</ul>
				</header>
				<div class="card-block p-0">
					<div class="data-filter-wrapper" [ngClass]="{ active: isSearchActive }">
						<i class="zmdi zmdi-search search filter-icons"></i>
						<input type="text" class="data-filter" placeholder="Filter customer name..."
							(keyup)="updateFilter($event)" [(ngModel)]="searchValue" />
						<a href="javascript:void(0)" class="close filter-icons" (click)="triggerClose($event)">
							<i class="zmdi zmdi-close"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer_wrapper" class="footer_wrapper"></footer>
<!-- <uppy-modal #uploadSheetModal [fileUploadUrl]="fileUploadUrl"></uppy-modal> -->
