@import "../../styles/main/util/color-variables";

.add-item {
    height: 30px;
    margin: 8px;
    border-radius: 3px;
    background: $shade30;
    text-align: center;
    &:hover {
        background: $shade40;
    }
}

.input-item {
    display: flex;
    justify-content: center;

    > input {
        margin: 8px;
        width: 100%;
    }
}
