<form novalidate
      (submit)="search()"
      #searchForm="ngForm">
	<div class="card">
		<header class="card-header card-salmon border-bottom">
			<h2 class="card-title">Search Options</h2>
		</header>
		<div class="card-block p-0">
			<div class="search-card-content">
				<!-- Render children -->
				<ng-content></ng-content>
			</div>
		</div>
		<div class="card-footer border-top m-t-30">
			<ul class="more">
				<li>
					<a href="javascript:void(0)"
					   type="submit"
					   class="btn btn-default btn-flat"
					   mat-ripple
					   (click)="search()">
						Search
					</a>
				</li>
			</ul>
			<ul class="actions icons right">
				<li>
					<button class="btn btn-primary btn-fab"
					        mat-ripple
					        (click)="reset(searchForm)">
						<i class="zmdi zmdi-refresh"></i>
					</button>
				</li>
			</ul>
		</div>
	</div>
</form>