
<p>Hi @Model.FirstName,</p>

<p>You have been invited to join the @Model.TenantName portal in <strong>CyRisk</strong> - the cyber security risk application. Please click the link below and follow the login prompts to start.</p>

<table><tr><td style="padding-bottom: 40px"></td></tr></table>
<a href="@Model.CallToActionUrl"
   class="btn btn-default"
   style="text-decoration: none; display: inline-block; border-radius: 2px; background-color: #3474da; border-color: #3474da; color: #ffffff; padding: 10px;">
    &nbsp; &nbsp; &nbsp; Get Started &nbsp; &nbsp; &nbsp;
</a>
<table><tr><td style="padding-bottom: 40px"></td></tr></table>

<p>Your email address is your username</p>

<p>Do you have a question or need help? Please refer to our <a href="https://aleronsecurity.freshdesk.com/support/home">helpdesk</a>.</p>

<p>Regards,<br />Aleron</p>
