<div id="content_wrapper"
     class="fullWidth2-wrapper rightSidenav2-wrapper">
	<md-sidenav-container class="sidenav-container">
		<div class="content">
			<div class="header-wrapper header-sm">
				<header>
					<h1>Expense Register</h1>

					<ul class="actions icons top-right">
						<li>
							<a href="javascript:void(0)"
							   (click)="rightSidenav2.toggle()">
								<i class="zmdi zmdi-search"></i>
							</a>
						</li>
					</ul>
				</header>
			</div>
			<div class="content-body">
				<div class="card card-datatable">
					<header class="card-header p-30">
						<div class="selected-toolbar"
						     [ngClass]="{'active' : isToolbarActive}">
							<md-toolbar class="activeHeaderColor">
								<span>{{itemCount}} {{itemsSelected}}</span>
								<span class="demo-fill-remaining"></span>
								<button md-icon-button>
									<md-icon class="md-24">delete</md-icon>
								</button>
							</md-toolbar>
						</div>
						<h2 class="card-title">Expense Register</h2>
						<ul class="actions icons top-right">
							<!-- <li>
							<a href="javascript:void(0)"
							   (click)="isSearchActive = !isSearchActive;">
								<i class="zmdi zmdi-search"></i>
							</a>
						</li> -->
							<!-- <li>
							<button class="btn btn-accent btn-fab"
							        (click)="isSearchActive = !isSearchActive;"
							        md-ripple>
								<i class="zmdi zmdi-search"></i>
							</button>
						</li> -->
						</ul>
						<ul class="actions fab bottom-right">
							<li>
								<button class="btn btn-accent btn-fab"
								        md-ripple>
									<i class="zmdi zmdi-plus"></i>
								</button>
							</li>
						</ul>
					</header>
					<div class="card-block p-0">
						<ngx-datatable #table
						               style="width: 100%"
						               class="material"
						               [rows]="rows"
						               [columnMode]="'force'"
						               [headerHeight]="50"
						               [footerHeight]="50"
						               [rowHeight]="'auto'"
						               [limit]="10"
						               [selected]="selected"
						               [selectionType]="'checkbox'"
						               [externalPaging]="true"
						               [count]="page.totalElements"
						               [offset]="page.pageNumber"
						               [limit]="page.size"
						               (page)='setPage($event)'
						               (select)='onSelect($event)'>
							<ngx-datatable-column [width]="60"
							                      [sortable]="false"
							                      [canAutoResize]="false"
							                      [draggable]="false"
							                      [resizeable]="false">
								<ng-template ngx-datatable-header-template
								             let-value="value"
								             let-allRowsSelected="allRowsSelected"
								             let-selectFn="selectFn">
									<md-checkbox class="example-margin"
									             [checked]="allRowsSelected"
									             (change)="selectFn(!allRowsSelected)"></md-checkbox>
								</ng-template>
								<ng-template ngx-datatable-cell-template
								             let-value="value"
								             let-isSelected="isSelected"
								             let-onCheckboxChangeFn="onCheckboxChangeFn">
									<md-checkbox class="example-margin"
									             [checked]="isSelected"
									             (change)="onCheckboxChangeFn($event)"></md-checkbox>
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column name="Name"></ngx-datatable-column>
							<ngx-datatable-column name="Category"
							                      prop="categoryName"></ngx-datatable-column>
							<ngx-datatable-column name="Amount">
								<ng-template let-value="value"
								             ngx-datatable-cell-template>
									{{value | currency:'USD':true:'1.2-4'}}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column name="Paid For"
							                      prop="paidForName"></ngx-datatable-column>
							<ngx-datatable-column name="Transaction Date">
								<ng-template let-value="value"
								             ngx-datatable-cell-template>
									{{value | date: 'dd-MMM-yyyy'}}
								</ng-template>
							</ngx-datatable-column>
							<ngx-datatable-column name="Edit">
								<ng-template let-row="row"
								             ngx-datatable-cell-template>
									<a href="javascript:void(0)"
									   attr.data-productId="{{row.productId}}"
									   class="icon edit-product">
										<i class="zmdi zmdi-edit"></i>
									</a>
								</ng-template>
							</ngx-datatable-column>
						</ngx-datatable>
					</div>
				</div>
			</div>
		</div>



		<!-- Sidenav -->
		<md-sidenav #rightSidenav2
		            mode="{{navMode}}"
		            align="end"
		            class="sidenav">
			<aside id="rightSidenav2">
				<app-search-card>
					<input type="text"
					       placeholder="Expense Name..."
					       class="form-control" />
					<md-input-container *ngIf="true">
						<input mdInput
							   placeholder="Expense Category"
							   class="form-control"
						       [mdAutocomplete]="tdAuto"
						       [(ngModel)]="currentExpenseCategory"
						       (ngModelChange)="tdExpenseCategories = filterExpenseCategories(currentExpenseCategory)">
					</md-input-container>
				</app-search-card>
			</aside>
		</md-sidenav>

		<!-- Auto Complete Expense Categories -->
		<md-autocomplete #tdAuto="mdAutocomplete">
			<md-option *ngFor="let expenseCategory of tdExpenseCategories"
			            [value]="expenseCategory.name">
				<span>{{ expenseCategory.name }}</span>
			</md-option>
		</md-autocomplete>

		<footer id="footer_wrapper"
		        class="footer_wrapper"></footer>

	</md-sidenav-container>
</div>