<div id="content_wrapper"
     class="boxedlayout3-wrapper">
    <div class="content">
        <div class="header-wrapper header-sm shadow-none">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <header>
                            <ng-content select="h1"></ng-content>
                        </header>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body container">
            <ul class="actions fab center-right">
                <ng-container *ngTemplateOutlet="canAdd ? addButtonTemplate: null"></ng-container>
            </ul>
        </div>
        <ng-content select=".card-container"></ng-content>
    </div>
</div>


<ng-template #addButtonTemplate>
    <li>
        <button class="btn btn-accent btn-fab"
                mat-ripple
                (click)="onAddClick()">
            <i class="zmdi zmdi-plus"></i>
        </button>
    </li>
</ng-template>