// background: rgb(244, 245, 247);

@import "../../../shared/styles/main/util/color-variables";

.container {
    display: flex;

    &-column {
        border: none !important;
        background: $shade15;
        position: relative;
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        margin-bottom: 30px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
        -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

       

        .add-item {
            height: 30px;
            margin: 8px;
            border-radius: 3px;
            background: $shade30;
            text-align: center;
            &:hover {
                background: $shade40;
            }
        }

        .input-item {
            display: flex;
            justify-content: center;

            > input {
                margin: 8px;
                width: 100%;
            }
        }

        &-body {
        }

       
    }
}
