<!-- 

/* Inspired by course from eggHead.io on Advanced Angular Component Patterns

<toggle-editor>
    <toggle-normal></toggle-normal>
    <toggle-edit></toggle-edit>
</toggle-editor>

where 
<toggle-normal> & <toggle-edit> are optional components..
if they aren't provided then
<toggle-normal> will be label
<toggle-edit> will be input

*/
-->

<div>
    <ng-content></ng-content>
    <ng-container *ngIf="isEditing; then !hasToggleEdit && editTmpl;else !hasToggleNormal &&normalTmpl"></ng-container>
</div>

<ng-template #normalTmpl>
    <div (click)="editMode()">
        <label class="p-l-10 form-label">{{label}}</label>
    </div>
</ng-template>
<ng-template #editTmpl>
    <input toggleEditInputRef
           matInput
           placeholder="{{label}}"
           class="form-control p-l-10">
</ng-template>