<!-- 

/* Inspired by course from eggHead.io on Advanced Angular Component Patterns

<toggle-editor>
    <toggle-normal></toggle-normal>
    <toggle-edit></toggle-edit>
</toggle-editor>

where 
<toggle-normal> & <toggle-edit> are optional components..
if they aren't provided then
<toggle-normal> will be label
<toggle-edit> will be input

*/
-->

<div (click)="toggle()">
    <ng-content></ng-content>
    <ng-container *ngTemplateOutlet="!isEditing && !hasToggleNormal ? normalTmpl : null"></ng-container>
    <ng-container *ngTemplateOutlet="isEditing && !hasToggleEdit ? editTmpl : null"></ng-container>
</div>

<ng-template #normalTmpl>
    <label class="p-l-10 form-label">{{label}}:</label>
</ng-template>
<ng-template #editTmpl>
    <input matInput
           placeholder="{{label}}"
           class="form-control p-l-10">
</ng-template>