<!-- 

/* Inspired by course from eggHead.io on Advanced Angular Component Patterns

<inline-editor>
    <inline-normal></inline-normal>
    <inline-edit></inline-edit>
</inline-editor>

where 
<inline-normal> & <inline-edit> are optional components..
if they aren't provided then
<inline-normal> will be label
<inline-edit> will be input

*/
-->

<div>
    <ng-content></ng-content>
    <ng-container *ngIf="isEditing; then !hasToggleEdit && editTmpl;else !hasToggleNormal &&normalTmpl"></ng-container>
</div>

<ng-template #normalTmpl>
    <div (click)="editMode()">
        <label class="p-l-10 form-label">{{label}}</label>
    </div>
</ng-template>
<ng-template #editTmpl>
    <input toggleEditInputRef
           matInput
           placeholder="{{label}}"
           class="form-control p-l-10">
</ng-template>