<page-layout [canAdd]="true" (onAdd)="openAddDialog($event)">
  <h1>Expense Categories</h1>
  <div class="card-container">
    <div
      class="card m-10 w-300"
      *ngFor="
        let expenseCategory of expenseCategories;
        trackBy: trackby.expenseCateogry
      "
    >
      <header class="card-header">
        <h2 class="card-title">{{ expenseCategory.name }}</h2>
        <small class="card-subtitle">created by on </small>
        <ul class="actions icons top-right">
          <li class="dropdown" dropdown>
            <a href="javascript:void(0)" dropdownToggle>
              <i class="zmdi zmdi-more-vert"></i>
            </a>
            <ul class="dropdown-menu btn-primary dropdown-menu-right">
              <li (click)="openEditDialog(expenseCategory)">
                <a href="javascript:void(0)">Edit</a>
              </li>
              <li (click)="deleteExpenseCategory(expenseCategory.id)">
                <a href="javascript:void(0)">Delete</a>
              </li>
            </ul>
          </li>
        </ul>
      </header>
      <div class="card-block">
        <p>
          {{ expenseCategory.description }}
        </p>
      </div>
    </div>
  </div>
</page-layout>
