<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>MaterialWrap Seed Project - Angular 4 + Bootstrap 4 Admin Theme</title>
	<base href="/">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Poppins:400,500,600" rel="stylesheet">
	<script>
		window.__theme = "bs4";
	</script>
</head>
<body>
	
	@RenderBody()

	<form asp-antiforgery="true"></form>


	<!--
		If using webpack and AOT comment out system.js
		scripts in head and add webpack bundle scripts from
		devDist (dev mode) or dist (production mode)here.
	-->



	<script type="text/javascript" src="~/devDist/inline.bundle.js"></script>
	<script type="text/javascript" src="~/devDist/polyfills.bundle.js"></script>
	<script type="text/javascript" src="~/devDist/scripts.bundle.js"></script>
	<script type="text/javascript" src="~/devDist/styles.bundle.js"></script>
	<script type="text/javascript" src="~/devDist/vendor.bundle.js"></script>
	<script type="text/javascript" src="~/devDist/main.bundle.js"></script>


@*<script type="text/javascript" src="/devDist/polyfills.js"></script>
<script type="text/javascript" src="/devDist/vendor.js"></script>
<script type="text/javascript" src="/devDist/app.js"></script>*@

</body>
</html>
