<div id="content_wrapper" class="boxedlayout3-wrapper">
	<div class="content">
		<div class="header-wrapper header-sm shadow-none">
			<div class="container-fluid">
				<div class="row">
					<div class="col">
						<header>
							<h1>Application Users</h1>
						</header>
					</div>
				</div>
			</div>
		</div>
		<div class="content-body container">
			<div class="card card-datatable">
				<header class="card-header p-30">
					<h2 class="card-title">User Details</h2>
					<ul class="actions icons top-right">
						<li>
							<a href="javascript:void(0)" (click)="isSearchActive = !isSearchActive;">
								<i class="zmdi zmdi-search"></i>
							</a>
						</li>
					</ul>
					<ul class="actions fab bottom-right">
						<li>
							<button class="btn btn-accent btn-fab" mat-ripple>
								<i class="zmdi zmdi-plus"></i>
							</button>
						</li>
					</ul>
				</header>
				<div class="card-block p-0">
					<ngx-datatable #table style="width: 100%" class="material" [rows]="rows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
					 [rowHeight]="'auto'" [limit]="10" [selected]="selected" [selectionType]="'checkbox'" >
						<ngx-datatable-column name="Name">
							<ng-template let-row="row" ngx-datatable-cell-template>
								<a href="javascript:void(0)">
									{{row.firstName}} {{row.lastName}}
								</a>
							</ng-template>
						</ngx-datatable-column>
						<ngx-datatable-column name="Location" prop="location"></ngx-datatable-column>
						<ngx-datatable-column name="User Group" prop="groupName"></ngx-datatable-column>
						<ngx-datatable-column name="Edit">
							<ng-template let-row="row" ngx-datatable-cell-template>
								<a href="javascript:void(0)" attr.data-userId="{{row.id}}" class="icon edit-user">
									<i class="zmdi zmdi-edit"></i>
								</a>
							</ng-template>
						</ngx-datatable-column>
					</ngx-datatable>
				</div>
			</div>
		</div>

	</div>
	<footer id="footer_wrapper" class="footer_wrapper"></footer>